.station-popup {
  width: 300px;
}

.station-popup h3 {
  margin-top: 8px;
  text-align: center;
}

.station-popup a {
  width: 100%;
}

.station-popup i {
  width: 20px;
  text-align: center;
}

.station-popup img {
    background-color: lightgray;
}
