/vendor/
/i18n/langcache/*.php
/node_modules/
/map/css
/map/assets
/map/images/layers-2x.png
/map/images/layers.png
/map/images/marker-icon.png
/map/images/2b3e1faf89f94a483539.png
/map/images/8f2c4d11474275fbc161.png
/map/images/416d91365b44e4b4f477.png
/map/js
/map/fonts
/map/map.ini
/map/json
/rsapi/*
